@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: purple;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: red;
}

#column-2 {
  background: yellow;
}

#column-3 {
  background: blue;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background:green;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: blue;
    width: 100%;
  }
  main{display: flex;}
  #column-1 {
    background-color:red ;
    width: 50%;
  }

  #column-2 {
    background-color:yellow  ;
    width: 50%;
  }

  #column-3 {
    background-color: green;
    width: 50%;
  }

  footer {
    background-color: purple;
    max-width: 100%;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: green;
    max-width:100%;
  }
  main{display: flex;}
  #column-1 {
    background-color:red ;
    width: 1/3;
  }

  #column-2 {
    background-color:blue ;
    width: 1/3;
  }

  #column-3 {
    background-color: yellow;
    width: 1/3;
  }

  footer {
    background-color:purple ;
    max-width: 100%;
  }

}
